.top-navbar .about a{
	border-bottom: solid #FF2B06 3px; 
}
.tab-content{
	padding-top: 0px;
	padding-bottom: 40px;
}

#about-tab a{
	color: white;
	padding: 5px 10px 5px 10px;
	line-height: 24px;
}
.active p{
	color: black;
}
.active .local-logo{
	color: black;
}
#about-tab p{
	margin: 0;
}
.ted-logo{
	font-family: 'Helvetica', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #FF2B06;
}
.local-logo{
	font-family: 'Helvetica', sans-serif;
	font-size: 25px;
	font-weight: normal;
	color: white;
}
.nav-tabs > li > a {
	border-radius: 0;
	background-color: #262626;
}
a:hover {
	text-decoration: none;
}
.about-logo-container{
	width: 100%;
	margin-top: 10px;
	font-size: 100px;
}
.about-logo-container .big-ted, .about-logo-container .big-tedx{
	font-family: Helvetica, sans-serif;
	font-weight: bolder;
	color: #FF2B06;
}
.about-logo-container .big-tedx{
	font-size: 80px;
	vertical-align: super;
	color: white;
}
.about-logo-container .big-tedxtrento{
	color: white;
}
.start{
	opacity: 1;
}