.contatti-wrapper{
	padding-top:2%;
	padding-bottom: 30px;
}
.contatti-background{
	position: relative;
	background-image: url('../img/contacts.jpg');
	background-position-y: center;
	background-size: cover;
	width: 100%;
	margin-bottom: 20px;
	height: inherit;
}
.contatti-background:after{
	clear: both;
}
.contatti-intro{
	padding: 20px 0px 30px 30px;
	color: white;
	font-weight: 100;
	font-size:18px;
}
#ninja_forms_field_1_label, #ninja_forms_field_2_label, #ninja_forms_field_3_label, #ninja_forms_field_4_label, #ninja_forms_field_5_label, #ninja_forms_field_7_label, #ninja_forms_field_8_label{
	width: 130px;
	font-weight: 200;
}
#ninja_forms_field_8{
	width: 60%;
	height: 200px;
}
#ninja_forms_field_7_options_span label{
	font-weight: 200;
}
#ninja_forms_field_6{
	font-size: 1.5em;
	background-color: red;
	color: white;
}
#ninja_forms_field_6:hover{
	background-color: white;
}