.team-background{
	background-image: url(../img/team_panorama.jpg);
}
.team-intro{
	padding: 20px 20px 30px 35px;
	color: white;
	font-weight: 100;
	font-size: 20px;
}
.team-intro a{
	color: #FF2B06;
}
.team-intro h3{
	font-size: 22px;
}