.team-background{
	background-image: url('../img/team_panorama.jpg');
}
.team-intro{
	color: white;
	font-weight: 100;
	font-size: 18px;
}
.team-intro a{
	color: #FF2B06;
}
.team-intro h3{
	font-size: 22px;
}
.team-outro{
	padding-top: 20px;
	padding-bottom: 30px;
	color: black;
	font-weight: 100;
	font-size: 18px;
}
.team-outro a{
	color: #FF2B06;
}
.team-outro h3{
	font-size: 22px;
}