.staff-member-listing{
	width: 100%;
}
.staff-member{
	box-sizing: border-box;
}
.ch-item{
	display: none;
}
.yes-team{
	display: none;
}
/* Tech Partners styling */
.tech-partners .staff-member, .food&beverage .staff-member{
	position: relative;
	float: left;
	width:15%;
	padding: 5px;
}
.tech-partners .staff-member .staff-member-photo, .food&beverage .staff-member .staff-member-photo{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 10px;
}
.tech-partners .staff-member-info-wrap .staff-member-position, .food&beverage .staff-member-info-wrap .staff-member-position{
	font-size: 14px;
	font-style: italic;
	margin-bottom: 0;
}
.tech-partners .staff-member-info-wrap .staff-website a, .food&beverage .staff-member-info-wrap .staff-website a{
	color: #FF2B06;
	font-size: 13px;
}
.tech-partners h3, .food&beverage h3{
	margin: 0;
	font-size: 16px;
	display: none;
}
.tech-partners .staff-img img, .food&beverage .staff-img img{
	vertical-align: middle;
}
@media (max-width: 992px ) {
	.tech-partners .staff-member, .food&beverage .staff-member{
		width: 25%;
	}
	.tech-partners .staff-img, .food&beverage .staff-img{
		min-height: 150px;
		line-height: 150px;
	}
}
@media (min-width: 992px ) {
	.tech-partners .staff-img, .food&beverage staff-img{
		min-height: 100px;
		line-height: 100px;
	}
}

/* Team styling */
.team .staff-member{
	position: relative;
	float: left;
	width:25%;
	padding: 0px;
	border-bottom: 3px solid #000a4b;
}
.team .staff-member .staff-member-photo{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0px;
	cursor: default;
}
.team .staff-member:hover .staff-img{
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	opacity: 0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	cursor: default;
}
.team .staff-member .staff-member-info-wrap{
	padding-left: 10%;
	padding-right: 10%;
	color: black;
	display: block;
	width: 100%;
	text-align: center;
	height: 0;
	top: 28%;
	position: absolute;
	opacity: 0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	-webkit-transition: opacity 0.6s ease-in-out;
	transition: opacity 0.6s ease-in-out;

}
.team .staff-member .staff-member-info-wrap .staff-member-name{
	font-size: 1.2em;
}
.team .staff-member .staff-member-info-wrap .staff-member-position{
	font-size: 1em;
	font-weight: 200;
}
.team .staff-member:hover .staff-member-info-wrap{
	display:block;
	cursor: default;
	opacity: 1;
	height: 100%;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
@media (max-width: 768px ) {
	.team .staff-member{
		width: 50%;
	}
}
@media (max-width: 992px)and (min-width: 768px ) {
	.team .staff-member{
		width: 25%;
	}
}

