.staff-member-listing{
	width: 100%;
}
.staff-member{
	box-sizing: border-box;
}

/* Speakers styling */

.speakers .staff-member{
	position: relative;
	float: left;
	width:50%;
	padding: 10px;
}
.speakers .staff-member .staff-member-photo{
	position: relative;
	top: 0;
	height: 200px;
	border-radius: 100px; 
	margin: 10px;
}
.speakers .even img{
	float: left;
}
.speakers .odd img{
	float: right;
}
.speakers .staff-member-info-wrap .staff-member-position{
	font-style: italic;
	font-weight: 100;
}
.speakers .staff-member-info-wrap .staff-excerpt{
	font-size: 16px;
}
.speakers .staff-member-info-wrap .staff-website a{
	color: #FF2B06;
}
@media (max-width: 992px ) {
	.speakers .staff-member{
		width: 100%;
	}
	.speakers .staff-member .staff-member-photo{
		height: 140px;
	}
}

/* Partners styling */
.partners .staff-member{
	position: relative;
	float: left;
	width:25%;
	padding: 5px;
}
.partners .staff-member .staff-member-photo{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 10px;
}
.partners .staff-member-info-wrap .staff-excerpt{
	font-size: 14px;
	font-style: italic;
	margin-bottom: 0;
}
.partners .staff-member-info-wrap .staff-website a{
	color: #FF2B06;
}
.partners h3{
	margin: 0;
}
.partners .staff-img img{
	vertical-align: middle;
}
@media (max-width: 992px ) {
	.partners .staff-member{
		width: 50%;
	}
	.partners .staff-img{
		min-height: 180px;
		line-height: 180px;
	}
}
@media (min-width: 992px ) {
	.partners .staff-img{
		min-height: 130px;
		line-height: 130px;
	}
}