.staff-member-listing{
	width: 100%;
}
.staff-member{
	box-sizing: border-box;
}

/* Speakers styling */

.speakers .staff-member{
	position: relative;
	float: left;
	width:50%;
	padding: 10px;
}
.speakers .staff-member .staff-member-photo{
	position: relative;
	top: 0;
	height: 200px;
	border-radius: 100px; 
	margin: 10px;
}
.speakers .even img{
	float: left;
}
.speakers .odd img{
	float: right;
}
.speakers .staff-member-info-wrap .staff-member-position{
	font-style: italic;
	font-weight: 100;
}
.speakers .staff-member-info-wrap .staff-excerpt{
	font-size: 16px;
}
.speakers .staff-member-info-wrap .staff-website a{
	color: #FF2B06;
}
@media (max-width: 992px ) {
	.speakers .staff-member{
		width: 100%;
	}
	.speakers .staff-member .staff-member-photo{
		height: 140px;
	}
}